/*Elements applying to all content on webpage*/
body {
    font-family: Roboto;
    margin-top: 0px;
}
/*Elements applying to content within hero section*/
.hero{
    background-color: #1F2937;
    /*Elements applying only to the navbar*/
    & .navbar{
        list-style-type: none;
        justify-content: right;
    }
}