/*Elements applying to all content on webpage*/
body {
    font-family: Roboto;
}
/*Elements applying to content within hero section*/
.hero{
    display: flex;
    background-color: #1F2937;
    margin-top: 0;
    /*Elements applying only to the navbar*/
    & .navbar{
        list-style-type: none;
        margin-top: 0;
        justify-content: right;
    }
}

.hero #logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero #tagline{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero #description{
    font-size: 18px;
    color: #E5E7EB;
}

footer{
    background-color: #1F2937;
}

footer #copyright{
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
}